@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import './fonts.css';

:root {
  --boxShadowSm: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --rootMargin: 20px;
  --rootWidth: 30%;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 16px;
}

header {
  padding: 20px 0;
  margin-bottom: var(--rootMargin);
  background: url("./star-wars-st.jpeg");
}

header > h1 {
  margin-left: 10px;
}

.progress {
  width: var(--rootWidth);
  margin-top: var(--rootMargin);
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-toggle {
  background: lightgreen;
  box-shadow: var(--boxShadowSm);
}

.dropdown-toggle:focus,
.dropdown-toggle:active {
  box-shadow: none;
}

.character {
  padding: 2px 0 2px 10px;
}

.character:hover {
  cursor: pointer;
  background: lightblue;
}

.film-div {
  margin-top: var(--rootMargin);
}

.film-list {
  width: var(--rootWidth);
  list-style: none;
  padding-left: 0;
}

.film-list > li {
  padding: 2px 0 2px 0;
}

.last-appearance {
  margin-top: var(--rootMargin);
}

@media screen and (max-width: 414px) {
  html {
    font-size: 12px;
  }

  .film-list,
  .progress {
    width: calc(var(--rootWidth) + 30%);
  }

  header {
    background: url('./star-wars-st-sm.jpeg');
  }
}