@import '../node_modules/bootstrap/dist/css/bootstrap.css';

:root {
  --boxShadowSm: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --rootMargin: 20px;
  --rootWidth: 30%;
}

html,
body {
  min-height: 100%;
}

.progress {
  width: var(--rootWidth);
  margin-top: var(--rootMargin);
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-menu > li {
  display: flex;
  justify-content: flex-start;
}

.dropdown-toggle {
  background: lightgreen;
  box-shadow: var(--boxShadowSm);
}

.dropdown-toggle:focus,
.dropdown-toggle:active {
  box-shadow: none;
}

.character {
  padding: 2px 0 2px 10px;
}

.character:hover {
  cursor: pointer;
  background: lightblue;
}

.character-list > p {
  margin-bottom: 5px;
}

.film-div {
  margin-top: var(--rootMargin);
}

.film-list {
  width: var(--rootWidth);
  list-style: none;
  padding-left: 0;
}

.film-list > li {
  padding: 2px 0 2px 0;
}

.last-appearance {
  margin-top: var(--rootMargin);
}

@media screen and (max-width: 414px) {
  .film-list,
  .progress {
    width: calc(var(--rootWidth) + 30%);
  }
}